<div class="container">
	<div class="span8">
		<div class="thumbnail span3">
			<img src="https://s3.amazonaws.com/dele_site/profile.jpg" alt="...">
        </div>
		 <div class="hero-unit span4">
		 <h1></h1>
         <h2></h2>
         <p></p>
         </div>
<div class="hero-unit span4">
    <h1>
        Bamidele Eribo Jr.
    </h1>
    <h6>Programmer, Designer/Developer, UX/UI fanatic</h6>
    <p>
  <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-print"></span> Print</button>
  <button type="button" class="btn btn-default btn-sm" href="https://s3.amazonaws.com/dele_site/Bamidele+Eribo+resume.docx"><span class="glyphicon glyphicon-download-alt"></span> Download</button>
</p>
</div>
  
<br><br><br><br><br><br>
        
   <br><br>
<div class="page-header">
            <h2>About Me</h2><hr>
            <p> Am a colleage student graduating in the spring of 2015 with a Bachelor's degree in Computer Science, i am passionate about coding and building webapps. My programming language backgroud is diversified,i love trying new things and i enjoy researching. My recent and ongoing research is about stuttering because i sttuter and i want to be able to understand how it happens. I use an array of softwares but my favorite is Sublime text, am also loving the new Atom from Github. Am an amature photographer and i love being active</P>
         </div>

    <div class="page-header">
         	<h2>Skills</h2>
            <hr>
         </div>
     <dl>
        <dt>
    <div class="row-fluid aside10">
         <div class="span4">
                <p>Programing Skills:
                    </p><ul>
                        <li>HTML/HTML5</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>Java</li>
                        <li>Python</li>
                        <li>C++</li>
                        <li>Ruby</li>
                        <li>Perl</li>
                        <li>Sql</li>
                    </ul>
                <p></p>
            </div>
    </dt>
    <dt>
    <div class="span4">
                <p>Softwares used:

                    </p>
                    <ul>
                        <li>Sublime text</li>
                        <li>Vim</li>
                        <li>JavaScript</li>
                        <li>Java</li>
                        <li>Adobe Dreamweaver</li>
                        <li>Adobe Illustrator</li>
                        <li>Atom(Git hub)</li>
                        <li>Netbeans</li>
                        <li>MS Office Suite (Access, Word, Excel, PowerPoint, Project)</li>
                        <li>Xcode</li>
                    </ul>
                    </dt>
               
            </div>
     </dt>
     <div class="container">
    <div class="row">                   
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                <span class="sr-only">60% Complete</span>
            </div>
            <span class="progress-type">HTML / HTML5</span>
            <span class="progress-completed">60%</span>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                <span class="sr-only">40% Complete (success)</span>
            </div>
            <span class="progress-type">Ruby</span>
            <span class="progress-completed">40%</span>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                <span class="sr-only">20% Complete (info)</span>
            </div>
            <span class="progress-type">Java</span>
            <span class="progress-completed">30%</span>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                <span class="sr-only">60% Complete (warning)</span>
            </div>
            <span class="progress-type">JavaScript / jQuery</span>
            <span class="progress-completed">60%</span>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                <span class="sr-only">80% Complete (danger)</span>
            </div>
            <span class="progress-type">CSS / CSS3</span>
            <span class="progress-completed">80%</span>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: 2%">
                <span class="sr-only">2% Complete (danger)</span>
            </div>
            <span class="progress-type">Python</span>
            <span class="progress-completed">2%</span>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                <span class="sr-only">10% Complete (danger)</span>
            </div>
            <span class="progress-type">R</span>
            <span class="progress-completed">10%</span>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                <span class="sr-only">40% Complete (danger)</span>
            </div>
            <span class="progress-type">C++</span>
            <span class="progress-completed">40%</span>
        </div>
    </div>
</div>
<br><br>
       <div class="page-header">
         	<h2>Work Experience</h2>
            <hr>
         </div>
     <dl>
    <dt>
        <i class="icon-asterisk"></i>
         DreamIt Ventures
    </dt>
    <dd>
        Position: Developer Intern
    </dd>
     
     <dd>
        Duration: May-August 2013
    </dd>
    <address>
        New York, NY
    </address>
    </dl>
    <p> I worked as a developer with DreamIT, every year they usually have about 15 companies in their incubator program, i worked with half of the companies, Callida Energy, Perkel, Miner, Heykiki,Trippin in, just to name a few. I contributed to their various projects from database creations,geo tagging, designing mobile versions of their sites to other features</p> 
   <div class="page-header">
            <h2>Interest/Hoobies</h2>
            <hr>
         </div>
     <dl>
    <dt>
        <i class="icon-asterisk"></i>
         Reasearch:
    </dt>

    <dt>Stuttering</dt>
    <dd>
        I enjoy fact finding and learning about differnet things in differnt fields but my recent reaserch is about Stuttering. Being a stutter, i aim to have a better understanding of stuttering in general and how stuttering blocks are triggered
    </dd>
   </dl>

<dl>
   <dt>
        <i class="icon-asterisk"></i>
         Design
    </dt>
    <dd>
        I have tried my hands on t-shirt designs, illustrations and calligraphy and am also going into 3-d printing
    </dd>
     </dl>
<dl>

     <dt>
        <i class="icon-asterisk"></i>
         Photography
    </dt>
    
    <dd>
        I love taking and editing pictures of randoms things that interest me
    </dd>
    </dl>
    <dl>
    <dt>
        <i class="icon-asterisk"></i>
         Operating system development
    </dt>
    
    <dd>
        In my operating sysytems class (in collage) we looked at operting systems theoretically but i have read a bit more about it and gone the extra mile to implement what i learnt into several DIY projects using Raspberry Pi, Adiuno boads and so on, I will document each project on my blog
    </dd>
   </dl>