<body>
  <div class="container-fluid">
    
  <h4>Feel free to Contact Me if you have any project </h4>
  <br><br><br>
<div class="contact">
          <a href="mailto:#">delejnr@yahoo.com <i class="fa fa-envelope-o"></i></a><br>
          <a href="mailto:#">bamideleeribo@aol.com <i class="fa fa-envelope-o"></i></a><br>
          <a href="mailto:#">beribo@nyit.edu <i class="fa fa-envelope-o"></i></a>
</div><br><br>
<div class="col-md-6">
<p class="social-links">Feel free to follow me....<br>
            <a href="https://github.com/Delejnr">
            <button class="btn"><i class="fa fa-github fa-2x"></i></button></a>
            <a href="www.linkedin.com/pub/dele-jnr-eribo/56/941/1b4/">
            <button class="btn"><i class="fa fa-linkedin fa-2x"></i></button></a>
            <a href="https://www.facebook.com/delejnr">
            <button class="btn"><i class="fa fa-facebook fa-2x"></i></button></a>
            
</p>
</div>

</div>
</body>