<div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Pondered
                    <small>Blogging Platfrom</small>
                </h1>
            </div>

        </div>

        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src="http://placehold.it/750x500">
            </div>

            <div class="col-md-4">
                <h3>Project Description</h3>
                <p>This was my final computer sceience project. It is required that you to take on any project of your choice o show understanding of all classe taken in CS. i decided to build a blogging platform with ruby on rails,I was inspired by medium.com (the elegant blogging platform), Svbtle and Ghost. What all these platfroms have in common is simplicity although most have different features. The project took two months to complete and it was fun yet chalanging to build.
</p>
<p>NOTE:The site isn't hosted so it can't be tested, i will make a blog post about it</p>
                <h3>Project Details</h3>
                <ul>
                    <li>Ruby on rails</li>
                    <li>Blogging</li>
                    <li>Social share</li>
                    <li>Seminar project</li>
                </ul>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Related Projects</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="https://s3.amazonaws.com/dele_site/Glonite-Home+(20140523).jpg">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="https://s3.amazonaws.com/dele_site/WWW2.png">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="https://s3.amazonaws.com/dele_site/java-icon.png">
                </a>
            </div>

        </div>

    </div>
    <!-- /.container -->