<ul class="pager">
    <li><a href="about me"><span class="glyphicon glyphicon-arrow-left"> Back</a></li>
</ul> 
</span>
<body>
        <!-- /.container -->

    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">My Projects
                    <small>Projects i have done/contributed to</small>
                </h1>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-7 col-md-7">
                <a href="pondered">
                    <img class="img-responsive" src="https://s3.amazonaws.com/dele_site/Pondered%3Aindex_page.jpg" alt="">
                </a>
            </div>

            <div class="col-lg-5 col-md-5">
                <h3>Pondered</h3>
                <h4>Blogging platform</h4>
                <p>Pondered is a personal blogging platform i built for my senior project.</p>
                <a class="btn btn-primary" href="pondered">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>

        </div>

        <hr>

        <div class="row">

            <div class="col-lg-7 col-md-7">
                <a href="glonite">
                    <img class="img-responsive" src="https://s3.amazonaws.com/dele_site/Glonite-Home+(20140523).jpg" alt="">
                </a>
            </div>

            <div class="col-lg-5 col-md-5">
                <h3>Glonite</h3>
                <h4>Landing page</h4>
                <p>Glonite was suppose to be a program to bring entreprenuials from Austria and other parts of Europe to New York for a short period.</p>
                <a class="btn btn-primary" href="glonite">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>

        </div>

        <hr>

        <div class="row">

            <div class="col-lg-7 col-md-7">
                <a href="java book">
                    <img class="img-responsive" src="https://s3.amazonaws.com/dele_site/java-icon.png" alt="">
                </a>
            </div>

            <div class="col-lg-5 col-md-5">
                <h3>Java Programming Book</h3>
                <h4>Book</h4>
                <h5>Contributed to</h5>
                <p>This was an introductly java book i and other members of a data structures class wrote.</p>
                <a class="btn btn-primary" href="java book">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>

        </div>

        <hr>

        <div class="row">

            <div class="col-lg-7 col-md-7">
                <a href="nyit blog">
                    <img class="img-responsive" src="https://s3.amazonaws.com/dele_site/WWW2.png" alt="">
                </a>
            </div>

            <div class="col-lg-5 col-md-5">
                <h3>NYIT Blog</h3>
                <h4>Blog site</h4>
                <h5>Contributed to</h5>
                <p>Another final project i contributed to for an interbet programming class.</p>
                <a class="btn btn-primary" href="nyit blog">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>

        </div>

        

        <div class="row text-center">

            <div class="col-lg-12">
                <ul class="pagination">
                    <li><a href="#">&laquo;</a>
                    </li>
                    <li class="active"><a href="#">1</a>
                    </li>
                    <li><a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>

        </div>

    </div>
    <!-- /.container -->

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>

</body>